<form [formGroup]="form" (ngSubmit)="enviar()">
  <div class="container">
    <mat-card class="card-principal">
      <mat-card-content>
        <mat-card>
          <mat-card-header>
            <div class="header-subtittle">
              <div>
                <h2 id="titulo-publicidad"> ¡Compra lo que quieres o véndelo!  </h2>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="text-left" style="display: inline-block; width: 100%;">
              <span>¿Estás pensando en comprar o vender productos nuevos o usados? Estás en el lugar correcto, estás en  <strong>¡Compraventas TodoEnUno!</strong></span>
              <br>
              <mat-divider></mat-divider>
              <br>
              <div>
                <h3>Ingrese sus datos para continuar</h3>
              </div>
              <div class="tam-98">
                <div class="col-33">
                  <mat-form-field class="tam-97">
                    <mat-label>Cédula <label class="label-required">*</label></mat-label>
                    <input id="home-input-cedula" matInput placeholder="Ingrese su cédula " formControlName="formCedula" />
                    <mat-error id="home-error-cedula" *ngIf="form.get('formCedula').hasError('required')">
                      Debe ingresar su cédula
                    </mat-error>
                    <mat-error *ngIf="form.get('formCedula').hasError('espacios')">
                      La cédula no puede ser solo espacios
                    </mat-error>
                    <mat-error *ngIf="form.get('formCedula').hasError('maxlength') && !form.get('formCedula').hasError('espacios')">
                      Debe ingresar máximo 12 caracteres
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-67">
                  <mat-form-field class="tam-97">
                    <mat-label>Nombre <label class="label-required">*</label></mat-label>
                    <input id="home-input-nombre" matInput placeholder="Ingrese su nombre " formControlName="formNombreVendedor" />
                    <mat-error id="home-error-nombre" *ngIf="form.get('formNombreVendedor').hasError('required')">
                      Debe ingresar su nombre
                    </mat-error>
                    <mat-error *ngIf="form.get('formNombreVendedor').hasError('espacios')">
                      El nombre no puede ser solo espacios
                    </mat-error>
                    <mat-error *ngIf="form.get('formNombreVendedor').hasError('maxlength') && !form.get('formNombreVendedor').hasError('espacios')">
                      Debe ingresar máximo 60 caracteres
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer> </mat-card-footer>
        </mat-card>
      </mat-card-content>
      <mat-card-footer>
        <div class="container-button-center">
          <button id="home-btn-ingresar" matTooltip="Ingresar" mat-raised-button color="primary" type="submit">INGRESAR</button>
          <button id="home-btn-limpiar" matTooltip="Limpiar" (click)="limpiar()" mat-raised-button color="accent" type="button">LIMPIAR</button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
