.mat-table-sticky:last-child {
  outline: 0.1px solid #ddd;
}

@media screen and (max-width: 640px) {
  .mat-table {
    border: 0;
  }

  .mat-row {
    border: 3px solid #ddd;
  }

  .mat-table .mat-cell {
    display: block;
    text-align: right;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-align: left;
    font-weight: bold;
  }

  .mat-header-row {
    border: 0;
    display: none;
  }

  .text-center {
    text-align: right !important;
  }

  .mat-table .mat-cell:first-child {
    color: #64dd17;
    background-color: #f0f0f0;
  }

  .mat-table .mat-cell:first-child div{
    color: rgba(0, 0, 0, 0.75);
  }
}
