<div class="container">
  <mat-card class="card-principal">
    <mat-card-content>
      <mat-card>
        <mat-card-header>
          <div class="header-subtittle">
            <div class="col-70-izquierda">
              <h2 id="producto-titulo-tabla"> Mis productos </h2>
            </div>
            <div class="col-30-derecha">
              <button id="producto-btn-nuevo" *ngIf="!cargando" matTooltip="Crear producto" (click)="irACrearProducto()" mat-raised-button color="primary" type="button">CREAR</button>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <app-cargando [mostrar]="cargando"></app-cargando>
          <div *ngIf="!cargando" >
            <app-tabla-productos [productos]="productos"></app-tabla-productos>
          </div>
        </mat-card-content>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
